.scholarship {
  padding: 90px 100px 0 100px;
  text-align: left;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.scholarship .image {
  height: 461px;
  margin-right: 10%;
}

.scholarship h2 {
  color: #f36518;
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  text-align: left;
  text-transform: uppercase;
}

.left-container {
  width: 400px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 600px) {
  .scholarship {
    flex-direction: column;
    width: 300px;
    padding: 0 !important;
    margin: 0 auto;
  }

  .left-container {
    width: 300px !important;
    order: 2;
  }
  .scholarship .image {
    order: 1;
    height: 300px;
    margin-left: 0 !important;
  }
}
